.btn {
  margin: 8px;
  padding: 16px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 600;
  background-color: #f15050;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 4px #9a9191;
color: white;  width: 100px;
  cursor: pointer;
}
